---
// src/components/layout/Footer.astro
---

<footer
  class="w-full py-8 px-6 flex flex-col md:flex-row justify-between items-center gap-4 bg-zinc-950 border-t border-zinc-800"
>
  <div
    class="text-zinc-400 font-bold font-mono text-[10px] uppercase tracking-widest"
  >
    © 2024 CORE_SYSTEMS_ENGINEER // LATENCY: 0.4ms
  </div>
  <div class="flex gap-8 cursor-crosshair">
    <a
      class="font-mono text-[10px] uppercase tracking-widest text-zinc-600 hover:text-secondary transition-colors"
      href="/cv/Adrian_Sanchez_Embedded_Engineer.pdf"
      target="_blank">CV_DOWNLOAD</a
    >
    <a
      class="font-mono text-[10px] uppercase tracking-widest text-zinc-600 hover:text-primary transition-colors"
      href="https://github.com/lutgaru/"
      target="_blank"
      rel="noopener noreferrer">GITHUB_SRC</a
    >
    <a
      class="font-mono text-[10px] uppercase tracking-widest text-zinc-600 hover:text-secondary transition-colors"
      href="https://www.linkedin.com/in/adrian-neftali-sanchez/"
      target="_blank"
      rel="noopener noreferrer">LINKEDIN_PROF</a
    >
  </div>
</footer>
